
.settings{
    margin: 40px 0 -75px 0;
    display: flex;
    justify-content: space-between;
}

.buttonContainer{
    position: relative;
    width: 300px;
    right: -100px;
    bottom: -28px;
}

.inputContainer{
    position: relative;
    bottom: -15px;
}